.navbar {
	overflow: hidden;
	background-color: white;
	/* border-bottom: 1px solid #aaaaaa; */
  position: fixed;
	/* width: 430px; */
	right: 50%;
  margin-right: -430px;
  margin-top: -40px;
  height: 20px;
	line-height: 20px; /* same as height! */
	text-align: right;
	font-size: 13pt;
}
.navbar a {
	color: #267CB9;
	/* padding: 14px 16px; */
	/* text-decoration: none; */
}
.navbar a:hover {
	/* background-color: #527bbd; */
	/* color: white; */
  text-decoration: underline;
}
/* .navbar a.active {
	background-color: #527bbd;
	color: white;
} */

h1, h2, h3, h4, h5, h6 {
	padding-top: 18px; 
  margin-top: -18px;
}